<div class="container mt-5 mb-3">
  <div class="row">
    <div class="col">
      <h1>Mostrar Grupo</h1>
    </div>
    <div class="col text-end">
      <%= link_to "Voltar", admin_grupos_path, class: "btn btn-dark" %>
      <%= link_to "Editar", edit_admin_grupo_path(@grupo), class: "btn btn-warning" %>
    </div>
  </div>
  <div id="<%= dom_id @grupo %>">
    <p>
      <strong>Nome:</strong>
      <%= @grupo.nome %>
    </p>
    <div>
      <strong>Usuarios:</strong>
      <ul>
        <% @grupo.usuarios.each do |usuario| %>
          <li> <%= usuario.nome %> </li>
        <% end %>
      </ul>
    </div>
    <div>
      <strong>Pastas:</strong>
      <ul>
        <% @grupo.pastas.each do |pasta| %>
          <li> <%= pasta.nome %> </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
