<%= form_with(model: pasta) do |form| %>
  <% if pasta.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(pasta.errors.count, "error") %> prohibited this pasta from being saved:</h2>

      <ul>
        <% pasta.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nome, style: "display: block" %>
    <%= form.text_field :nome %>
  </div>

  <div>
    <%= form.label :link, style: "display: block" %>
    <%= form.text_field :link %>
  </div>

  <div>
    <%= form.label :origem_id, style: "display: block" %>
    <%= form.text_field :origem_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
