<%= render "admin/shared/novos_arquivos" %>
<div class="container">
  <% if @pasta.origem_id.present?%>
    <a href="/admin/pastas/<%= @pasta.origem_id%>">Voltar</a>
  <% else %>
    <a href="/admin">Voltar</a>
  <% end %>
</div>
<div class="section-title">
  <h2><%= @pasta.nome %></h2>
</div>
<div class="container">
  <div class="row">
    <% @pastas.each do |pasta| %>
      <div class="col-md-2 mb-3">
        <% if pasta.link.present? %>
          <a href="<%= pasta.link %>" target="_blank">
          <% else %>
            <a href="/admin/pastas/<%= pasta.id %>">
            <% end %>
            <div class="info-box">
              <i class="bx bx-folder"></i>
              <p><%= pasta.nome %></p>
            </div>
          </a>
        </div>
      <% end %>
      <% @midias.each do |midia| %>
        <div class="col-md-2 mb-3">
          <div class="info-midia">
            <%= button_to admin_midia_path(midia), method: :delete, class: "btn" do %>
              <i class="bx bx-trash"></i>
            <% end %>
            <a href="<%= rails_blob_url(midia.arquivo) %>" target="_blank">
              <p><%= midia.arquivo.filename %></p>
            </a>
          </div>
        </div>
      <% end %>
    </div>
  </div>
